$font-family: "Poppins", sans-serif;
$margin-right: 200px;
$margin-left: 270px;
$margin-top: 40px;
$red-color: rgb(184, 23, 23);
$grey-color: grey;
$logo-red-color: rgb(179, 60, 60);
$logo-blue-color: rgb(58, 58, 197);
