$font-family: "Poppins", sans-serif;
$red-color: rgb(184, 23, 23);
$grey-color: grey;
$logo-red-color: rgb(218, 68, 68);
$logo-blue-color: rgb(34, 34, 206);

$main-margin-right: 270px;
$main-margin-left: 270px;
$main-margin-top: 15px;

$main-background-color: #252222;
$header-background-color: #131212;

$searched-margin-right: 160px;
$searched-margin-left: 160px;
$searched-margin-top: 30px;

$crew-margin-right: 200px;
$crew-margin-left: 200px;
$crew-margin-top: 30px;
